<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>userServiceImpl</servlet-name>
    <servlet-class>co.edu.uniandes.useritem.server.UserServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userServiceImpl</servlet-name>
    <url-pattern>/useritem/userRemoteService</url-pattern>
  </servlet-mapping>
    
 <servlet>
    <servlet-name>userUserRemoteService</servlet-name>
    <servlet-class>co.edu.uniandes.useritem.server.UserUserServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userUserRemoteService</servlet-name>
    <url-pattern>/useritem/userUserRemoteService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>UserItem.html</welcome-file>
  </welcome-file-list>

</web-app>
